.styled-button {
    -fx-background-color: #eee6e6;
    -fx-text-fill: #000000;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 12px;
    -fx-cursor: hand;
}

.styled-button:hover {
    -fx-background-color: #d9b383;
}

.red-button {
    -fx-background-color: #c24d4d;
    -fx-text-fill: #000000;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 12px;
    -fx-cursor: hand;
}

.red-button:hover {
    -fx-background-color: #a80a23;
}


.green-button {
    -fx-background-color: #368136;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 12px;
    -fx-cursor: hand;
}

.green-button:hover {
    -fx-background-color: #143f0c;
}