.card-slot {
    -fx-background-size: cover;
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
    -fx-border-color: rgb(51, 30, 0);
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-width: 70px;
    -fx-height: 90px;
    -fx-min-width: 70px;
    -fx-max-width: 70px;
    -fx-min-height: 90px;
    -fx-max-height: 90px;
    -fx-overflow: hidden;
}

.card-slot-red {
    -fx-background-size: cover;
    -fx-background-color: red;
    -fx-background-radius: 10px;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-width: 70px;
    -fx-height: 90px;
    -fx-min-width: 70px;
    -fx-max-width: 70px;
    -fx-min-height: 90px;
    -fx-max-height: 90px;
    -fx-overflow: hidden;
}

.cards {
    -fx-background-size: cover;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-width: 70px;
    -fx-height: 90px;
    -fx-min-width: 70px;
    -fx-max-width: 70px;
    -fx-min-height: 90px;
    -fx-max-height: 90px;
    -fx-overflow: hidden;
}

.card-label {
    -fx-font-size: 9px;
    -fx-text-fill: black;
    -fx-background-color: rgb(234, 234, 234);
    -fx-padding: 0px 5px;
    /*-fx-background-radius: 15px;*/
    -fx-text-alignment: center;
    -fx-pref-width: 65px;
    -fx-alignment: center;
}


.BERUANG-card {
    -fx-background-image: url('../Images/Hewan/bear.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.AYAM-card {
    -fx-background-image: url('../Images/Hewan/chicken.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.HIU_DARAT-card {
    -fx-background-image: url('../Images/Hewan/hiu_darat.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.KUDA-card {
    -fx-background-image: url('../Images/Hewan/horse.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.DOMBA-card {
    -fx-background-image: url('../Images/Hewan/sheep.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.SAPI-card {
    -fx-background-image: url('../Images/Hewan/cow.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.ACCELERATE-card {
    -fx-background-image: url('../Images/Item/Accelerate.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.TRAP-card {
    -fx-background-image: url('../Images/Item/bear_trap.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.DELAY-card {
    -fx-background-image: url('../Images/Item/Delay.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.DESTROY-card {
    -fx-background-image: url('../Images/Item/Destroy.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.INSTANT_HARVEST-card {
    -fx-background-image: url('../Images/Item/Instant_Harvest.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.PROTECT-card {
    -fx-background-image: url('../Images/Item/Protect.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.JAGUNG-card {
    -fx-background-image: url('../Images/Produk/corn.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.DAGING_BERUANG-card {
    -fx-background-image: url('../Images/Produk/Daging_Beruang.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.DAGING_DOMBA-card {
    -fx-background-image: url('../Images/Produk/Daging_Domba.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.DAGING_KUDA-card {
    -fx-background-image: url('../Images/Produk/Daging_Kuda.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.LABU-card {
    -fx-background-image: url('../Images/Produk/pumpkin.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.SIRIP_HIU-card {
    -fx-background-image: url('../Images/Produk/shark-fin.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.STROBERI-card {
    -fx-background-image: url('../Images/Produk/strawberry.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.SUSU-card {
    -fx-background-image: url('../Images/Produk/susu.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.TELUR-card {
    -fx-background-image: url('../Images/Produk/telur.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.BIJI_JAGUNG-card {
    -fx-background-image: url('../Images/Tanaman/corn_seeds.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.BIJI_LABU-card {
    -fx-background-image: url('../Images/Tanaman/pumpkin_seeds.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.BIJI_STROBERI-card {
    -fx-background-image: url('../Images/Tanaman/strawberry_seeds.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}